{% extends 'base.html' %}

{% block title %}Survey | Questions{% endblock %}

{% block survey_body %}
    <h1>{{survey_question}}</h1>
    {% for msg in get_flashed_messages() %}
    <p>{{ msg }}</p>
    {% endfor %}
    <form action="/answer" method="POST">
        <label for="choice">
            {{choice1}}
            <input type="radio" name="choice" value="yes">
        </label>
        <label for="choice">
            {{choice2}}
            <input type="radio" name="choice" value="no">
        </label>
        <button type="submit">Next Question</button>
    </form>
{% endblock %}